*{
  box-sizing: border-box;
}

.sidebar{
  width: 15%;
  height: 100%;
  position: absolute;
  background-color: rgb(68, 2, 2);
  left: 0;
  top: 0;
}

.sidebar a{
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 23px;
  text-align: center;
}

.sidebar a:hover{
  background-color: rgb(248, 14, 42);
}

.active{
  background-color: rgb(113, 29, 86);

}